.details-img {
  height: auto;
  width: 80%;
  margin: 5px;
}

.book-details h2 {
  font-size: 1.4rem;
  margin-bottom: 0px;
}

.book-details h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.book-description {
  text-align: justify;
  padding: 5px;
}

.details-btn {
  width: 80%;
  height: auto;
  margin: 5%;
}

.details-btn:disabled {
  background: whitesmoke;
  color: grey;
  border: black;
  cursor: default;
}

.details-btn:disabled:hover {
  border: grey;
}

.details-links {
  display: flex;
  justify-content: space-around;
  min-width: 70%;
  margin-bottom: 10px;
}

.details-cols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.details-left-col {
  width: 50%;
}

.details-right-col {
  width: 50%
}

.close-button:hover {
  background: #F93F3F;
  color: whitesmoke; 
}

.btn-loaned {
  background-color: #3693EA;
  border: #3693EA solid 1px;
  color: white;
}

.btn-loaned:hover {
  background-color: white;
  color: black
}

.btn-loan {
  border: #3693EA solid 1px;
  color: black;
}

.btn-loan:hover {
  background-color: #3693EA ;
  color: white;
}