.wishlist-container {
  margin: 1.5rem;
}

.favourites-list-container, .wishlist-container {
  background: lightblue;
  margin-left: 2rem;
  width: 100%;
  height: 19rem;
}

.favourites-list, .wishlist {
  display: flex;
  overflow-x: scroll;
  background: orange;
  width: 100%;
}