.favourites-list-container, .wishlist-container {
  margin: 2rem;
  margin-left: 40px;
  width: 90%;
  height: 19rem;
}

.favourites-list, .wishlist {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}