.search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.search input {
  padding: 8px;
  font-size: 0.8rem;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 6px;
}

.search input:focus {
  background-color: rgb(242, 253, 179);
  outline: none;
}

