.navbar { 
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  background: #D1DFD1;
}

.block-link {
  color: black;
  text-decoration: none;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
}

.block-link:hover {
  background: #DEEADE;
  color: #5AA753;
}

.active-route {
  color: #5AA753;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
}

.center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  flex-wrap: nowrap;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  white-space: nowrap;
}

.navbar-username {
  font-size: 1.2rem;
}

.navbar-btn {
  background: #E0ECE9;
  outline: none;
  padding: 8px;
  font-size: 0.8rem;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 6px;
  cursor: pointer;
  width: 65px;
}

.navbar-btn:hover {
  background-color: #2480B8;
  color: white;
}

.logo {
  height: 30px;
  width: auto;
  position: relative;
  top: 4px;
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
}


