.search {
  display: inline;
}

.search input {
  padding: 8px;
  font-size: 0.8rem;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 6px;
}

.login-input {
  font-size: 0.8rem;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 4px;
}

.login-input {
  width: 60px;
  padding: 5px;
}

.navbar-btn {
  background: #E0ECE9;
  outline: none;
  padding: 8px;
  font-size: 0.8rem;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 6px;
  cursor: pointer;
  width: 65px;
}

.navbar-btn:hover {
  background-color: #2480B8;
  color: white;
}

.login-btn {
  padding: 4px;
}

