.signup-form {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.signup-input-container {
  margin: 6px;
}

.signup-form h2 {
  margin-bottom: 10px;
}

.signup-input {
  padding: 12px;
  font-size: 0.8rem;
  border: 1px solid grey;
  border-radius: 6px;
  width: 160px;
}

.signup-input:focus {
  background-color: rgb(242, 253, 179);
  outline: none;
}

.signup-form button {
  background-color: #2480B8;
  color: white;
  outline: none;
  padding: 10px;
  margin: 20px;
  margin-top: 25px;
  height: auto;
  font-size: 0.9rem;
  border: 1px solid grey;
  border-radius: 6px;
  cursor: pointer;
  width: 170px;
}

.signup-form button:hover {
  background-color: green;
}

.error-msg {
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  height: 15px;
}

