body {
  font-family: 'Raleway', sans-serif;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.main-content {
  margin-top: 50px;
}

.main-body {
  display: flex;
}

/* POPULAR BOOKS */
.pop-books-div {
  background: whitesmoke;
  width: 30%;
  padding: 0.5rem;
}

.popular-books {
  background: #EC7063;
}

.popular-book-div {
  background: whitesmoke;
}

.navbar { 
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  background: #D1DFD1;
  color: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  box-sizing: border-box;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
}

.navbar a:hover {
  background: #DEEADE;
}

.results {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.book-card {
  margin: 30px;
  height: 350px;
  width: 200px;
  padding: 0px;
}

.book-card-small {
  margin: 10px;
  height: 240px;
  width: 130px;
  padding: 0px;
  margin: 20px;
}

.book-image {
  height: 85%;
  width: auto;
}

.card-btn {
  min-width: 50px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  text-align: center;
  padding: 6px;
}

.card-btn:focus {
  outline: none;
}

.btn-black:hover {
  background: #2480B8;
  color: white
}

.btn-wanted {
  border: #7DCEA0 solid 1px;
  background-color: #80D681;
  color: white
}

.btn-wanted:hover {
  background-color: white;
  color: #80D681;
}

.btn-green-show {
  border: #7DCEA0 solid 1px;
}


.btn-green:hover {
  background-color: #80D681;
  color: white
}

.btn-favourite {
  background-color: #F1948A ;
  border: #EC7063 solid 1px;
  color: white;
}

.btn-favourite:hover {
  background-color: white;
  color: #EC7063;
}

.btn-red {
  border: #EC7063 solid 1px;
  color: #EC7063;
}

.btn-red:hover {
  background-color: #F1948A ;
  color: white;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}    


.book-details {
  width: 60%;
}

.app-header {
  display: flex;
  height: 7rem;
  padding-top: 50px;
  background: gold;
}

.gif {
  height: 100px;
}

.search {
  display: inline;
}

.search input, .search button {
  padding: 10px;
  font-size: 1rem;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 6px;
}

.search-btn {
  cursor: pointer;
}

.search-btn:focus {
  outline: none;
}

.search-btn:hover {
  background-color: #2480B8;
  color: white;
}

.favourites-list, .wishlist {
  display: flex;

}

