body {
  font-family: 'Raleway', sans-serif;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.main-content {
  margin-top: 70px;
}

.main-body {
  display: flex;
  
}

/* POPULAR BOOKS */
.pop-books-div {
  background: whitesmoke;
  width: 26%;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid black;
  /* -webkit-box-shadow: -5px -4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -5px -4px 5px 0px rgba(0,0,0,0.75);
box-shadow: -5px -4px 5px 0px rgba(0,0,0,0.75); */
}

.popular-books {
  display: flex;
  flex-direction: column;
  background: #EC7063;
  
}

.popular-books h2 {
  font-family: 'Roboto';
}

.popular-book-div {
  background: whitesmoke;
}

.popular-book-div p {
  font-size: 0.8rem;
  font-family: 'Roboto';
}

.navbar { 
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  background: #D1DFD1;
}

.block-link {
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
}

.left-nav {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

.center-nav {
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.right-nav {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}

.block-link:hover {
  background: #DEEADE;
}

.text-link {
  font-size: 0.9rem;
}

.text-link:hover {
  text-decoration: underline;
}

.results {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.book-card {
  margin: 30px;
  height: 350px;
  width: 200px;
  padding: 0px;
}



.book-card-small {
  /* margin: 10px; */
  height: 240px;
  max-width: 130px;
  min-width: 130px;
  padding: 0px;
  margin: 20px;
}


.book-image {
  height: 85%;
  width: auto;
  cursor: pointer;
}

.card-btn {
  min-width: 50px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  text-align: center;
  padding: 6px;
}

.card-btn:focus {
  outline: none;
}

.details-btn {
  width: 120px;
  height: 30px;
  margin: 10px;
}

.btn-black:hover {
  background: #2480B8;
  color: white
}

.btn-wanted {
  border: #7DCEA0 solid 1px;
  background-color: #80D681;
  color: white
}

.btn-wanted:hover {
  background-color: white;
  color: #80D681;
}

.btn-green-show {
  border: #7DCEA0 solid 1px;
}


.btn-green:hover {
  background-color: #80D681;
  color: white
}

.btn-favourite {
  background-color: #F1948A ;
  border: #EC7063 solid 1px;
  color: white;
}

.btn-favourite:hover {
  background-color: white;
  color: #EC7063;
}

.btn-red {
  border: #EC7063 solid 1px;
  color: #EC7063;
}

.btn-red:hover {
  background-color: #F1948A ;
  color: white;
}

.card-btn:disabled {
  background: whitesmoke;
  color: grey;
  border: black;
  cursor: default;
}

.card-btn:disabled:hover {
  border: black;
  color: grey;
}

.details-btn:disabled {
  background: whitesmoke;
  color: grey;
  border: black;
  cursor: default;
}

.details-btn:disabled:hover {
  border: grey;
  color: black;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}    

/* BOOK DETAILS */
.book-details {
  display: flex;
  flex-direction: column;
  min-width: 17rem;
  max-width: 17rem;
  background: #7DCEA0;
  margin-left: 2rem;
  height: 40rem;
  text-align: center;
  align-items: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding-bottom: 1rem;
}

.book-details img {
  height: 16rem;
}


.book-description {
  background: pink;
  max-height: 13rem;
  overflow: auto
}

.search {
  display: inline;
}

.search input, .search button {
  padding: 10px;
  font-size: 1rem;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 6px;
}

.login-input, .login-btn {
  font-size: 0.8rem;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 4px;
}

.login-input {
  width: 70px;
  padding: 6px;
}

.login-btn {
  background: #E0ECE9;
  outline: none;
  padding: 5px;
  cursor: pointer;
  width: 60px;
}

.search-btn {
  cursor: pointer;
}

.search-btn:focus {
  outline: none;
}

.search-btn:hover {
  background-color: #2480B8;
  color: white;
}

/* USER PROFILE */
.user-profile-main {
  display: flex;
  
}

.wishlist-container {
  margin-bottom: 4rem;
}

.favourites-list-container, .wishlist-container {
  background: lightblue;
  margin-left: 2rem;
  max-width: 55rem;
  min-width: 55rem;
  height: 19rem;
}

.favourites-list, .wishlist {
  display: flex;
  overflow-x: scroll;
  background: orange;
  max-width: 55rem;
  min-width: 55rem;
}

.book-card-small, .book-card {
  position: relative;
}

.remove-btn {
  position: absolute;
  top: 5%;
  right: 0;
}


.profile-box {
  margin-left: 2rem;
  margin-top: 1.2rem;
  width: 13rem;
  padding: 1rem;
  border-radius: 3px;
  /* box-shadow: 5px 15px #888888; */
  height: 19rem;
  background: #EC7063;
}

