html {
  overflow-y: scroll;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.main-container {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  min-height: 70%;
}

.left-container {
  width: 65%;
}

.right-container {
  width: 28%;
}

.right-box {
  display: flex;
  flex-direction: column;
  width: 95%;
  text-align: center;
  align-items: center;
  margin-right: 20%;
  margin-left: 5%;
  margin-top: 1.6rem;
  padding: 1rem;
  min-height: 100%;
}

.results {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0;
  margin: 1rem;
  margin-top: 20px;
}

.card {
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.main-btn {
  min-width: 50px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  text-align: center;
  padding: 6px;
}

.main-btn:focus {
  outline: none;
}


.main-btn:disabled {
  background: whitesmoke;
  color: grey;
  border: black;
  cursor: default;
}

.main-btn:disabled:hover {
  border: black;
  color: grey;
}

.btn-black:hover {
  background: #2480B8;
  color: white
}


.hidden {
  display: none;
}

.show {
  display: inline-block;
}    

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #5AA753;
}
